@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Nunito:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto","Arial",sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #1b1057;
}

.left {
    padding: 15px 20px;
}

.left-img {
    height: 100%;
}

.logo {
    width: 150px;
    height: auto;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    color: white;
    text-align: right;
}

.avatar-img {
    padding: 30px 5px;
    width: 80px;
    height: auto;
}

.mid-content {
    margin: 10px;
    line-height: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.icon-content span {
    font-size: 3rem;
    font-weight: 600;
    color: yellow;
}

main {
    background-color: #eeeef9;
    height: calc(100vh - 80px)
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 35px 40px;
}

.options {
    padding: 20px 35px;
    height: calc(100vh - 155px);
    background-color: white;
    border-radius: 10px;
}
.options nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

} 
.options nav a {
    font-size: 1.4rem;
    font-weight: 570;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin-left: -15px;
    line-height: 20px;
    color: #1b1057;

}

.options nav a:hover {
    background-color: #eeeef9;
    cursor:pointer;
}

.options nav a span {
    margin-right: 15px;
}
.main-content{
    flex-grow:1;
}
