<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookify.Web</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="~/Bookify.Web.styles.css" asp-append-version="true" />
</head>
<body>


    <!-------------Header----------------------->
    <header>
        <div class="left">
            <div class="left-img">
                <img src="~/assets/images/logo.png" class="logo" />
            </div>
        </div>
        <div class="right">
            <div class="icon-content">
                <span class="material-symbols-outlined">
                    light_mode
                </span>
            </div>
            <div class="mid-content">
                <p>Ahmed</p>
                <p>.Net Developer</p>
            </div>
            <div class="right-img">
                <img src="~/assets/images/avatar.png" class="avatar-img" />
            </div>
        </div>
    </header>

    <!----------Main Contant------------------->
    <main>
        <div class="container">
            <aside class="options">
                <nav>
                    <a>
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <span>Home</span>
                    </a>
                    <a>
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <span>Home</span>
                    </a>
                    <a>
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <span>Home</span>
                    </a>
                </nav>
            </aside>
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </main>

    <!--------------------Footer -------------------------------->
    <footer>
        <div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
